<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Save 71 - Dashboard - Dashboard</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/output.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="icon" sizes="325x325" href="https://admin.saveneed.com/images/favicon.png">
    </head>

    <body class="font-sans">
        <section class=" max-w-[1920px] ml-auto mr-auto">

            <!-- Navigation Menu -->
            <%- include('header')  %>




            <!-- Right Side Section -->
            <div class="ml-auto w-full xl:w-5/6 px-0 xl:px-1 py-2 mt-16 xl:mt-0">


                <!-- Project Overview Header -->

                <div class="flex items-center justify-between px-5 py-2 xl:py-5 gap-4 border-b-2">
                    <!-- Search Box -->
                    <div class="bg-white relative">
                        <input class="py-2 pr-3 pl-6 focus:outline-none max-w-[180px]" type="text"
                            placeholder="Search...">
                        <i
                            class="fa-solid fa-magnifying-glass absolute top-1/2 left-0 -translate-y-1/2 text-tColor"></i>
                    </div>

                    <!-- Notification & User -->
                    <%- include('profileBar') %>


                </div>

                <!-- All Orders Table -->
                <div class="mt-5">

                    <div class="flex flex-col justify-around">

                        <div class="bg-white pt-5 mt-5 overflow-x-scroll md:overflow-hidden px-5 shadow-md">
                            <table class="table-auto text-xs md:text-sm profile-table w-[230%] md:w-full">
                                <thead>
                                    <tr>
                                        <th>FULL NAME</th>
                                        <th>PHONE NUMBER</th>
                                        <th>REFERENCE ID</th>
                                        <th>OWN REFERENCE ID</th>
                                        <th>GENDER</th>
                                        <th>DATE OF BIRTH</th>
                                        <th>IS REGISTRATION COMPLETE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let user of paginatedCustomers) { %>

                                    <tr>
                                        <td>
                                            <div class="flex items-center gap-4">
                                                <img src="<%= user.pic_url %>" alt="" class="h-9 w-9 rounded-[50%]">
                                                <div>
                                                    <p class="font-semibold"><%= user.user_name %></p>
                                                    <p class="text-tColor"><%= user.user_email %></< /p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>

                                                <div class="flex items-center gap-1">

                                                    <p><%= user.phone %></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td><%= user.reference_id %></td>
                                        <td><%= user.own_ref_id %></td>
                                        <td><%= user.gender %></td>

                                        <td><%= new Date(user.date_of_birth).toLocaleDateString('en-GB') %></td>
                                        <td><%= user.reg_completed ? "yes" : "no" %></td>
                                    </tr>

                                    <% } %>
                                </tbody>
                            </table>

                        </div>

                        <div class="flex flex-col justify-between gap-2 py-5 xl:flex-row xl:items-center">
                            <p class="text-xs text-center xl:text-sm text-tColor">
                                Show <%= paginatedCustomers.length %> from <%= customers.length %> customers
                            </p>

                            <div
                                class="grid content-center grid-flow-col gap-3 ml-auto mr-auto font-semibold scale-75 xl:scale-100 xl:mr-0 xl:text-sm text-tColor">
                                <% if (page > 1) { %>
                                <a class="flex items-center justify-center w-6 h-6 rounded"
                                    href="/customers?page=<%= page - 1 %>">
                                    <svg width="6" height="10" viewBox="0 0 8 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.125 0.75L0.875 7L7.125 13.25" stroke="#84818A" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <% } %>

                                <% const maxPagesToShow = 8;
                                               const startPage = Math.max(1, page - Math.floor(maxPagesToShow / 2));
                                               const endPage = Math.min(
                                                   Math.ceil(customers.length / customersPerPage),
                                                   startPage + maxPagesToShow - 1
                                               );
                                    
                                               for (let i = startPage; i <= endPage; i++) { %>
                                <a class=" h-6 w-6 rounded flex items-center justify-center <%= i === page ? 'bg-blue-100 text-primaryColor' : '' %>"
                                    href="/customers?page=<%= i %>"><%= i %></a>
                                <% } %>

                                <% if (page < Math.ceil(customers.length / customersPerPage)) { %>
                                <a class="flex items-center justify-center w-6 h-6 rounded"
                                    href="/customers?page=<%= page + 1 %>">
                                    <svg width="6" height="10" viewBox="0 0 8 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.875 0.75L7.125 7L0.875 13.25" stroke="#84818A" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <% } %>
                            </div>
                        </div>

                    </div>


                </div>


        </section>





        <!-- Header Section Script -->
        <script>
            // Menu toggle button
            const toggleButton = document.getElementById("toggle-button");
            const toggleMenu = document.getElementById("toggle-menu");
            var toggleCounter = 1;
            toggleButton.onclick = function () {
                toggleCounter++;
                if (toggleCounter % 2 == 0) {
                    toggleMenu.classList.remove("hidden");
                    toggleMenu.classList.add("grid");
                } else {
                    toggleMenu.classList.remove("grid");
                    toggleMenu.classList.add("hidden");
                }
            }
        </script>


        <!-- Accordion Script -->
        <script>
            const accordionButtons = document.querySelectorAll('.accordion-button');
            const accordionMenu = document.querySelectorAll('.menu-collapse');

            accordionButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const accordionCollapse = button.nextElementSibling;
                    button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
                    accordionCollapse.classList.toggle('hidden');
                });
            });

            document.querySelectorAll('.menu-collapse').forEach(collapse => {
                collapse.classList.add('hidden');
            });

            document.addEventListener('click', function (e) {
                if (!accordionMenu.contains(e.target) && !accordionButtons.contains(e.target)) {
                    accordionMenu.classList.add('hidden');
                }
            });
        </script>


        <!-- Table Script -->
        <script>
            const tableButtons = document.querySelectorAll('.table-button');
            const tableMenu = document.querySelectorAll('.table-collapse');
            const tableClose = document.querySelectorAll('.table-close');

            tableButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const tableCollapse = button.nextElementSibling;
                    button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
                    tableCollapse.classList.toggle('hidden');
                });
            });

            tableClose.forEach(button => {
                button.addEventListener('click', () => {
                    const tableCollapse = button.parentElement.parentElement.parentElement;
                    button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
                    tableCollapse.classList.toggle('hidden');
                });
            });


        </script>

        <script>
            const tables = document.querySelectorAll('.table-collapse');
            window.onclick = function (event) {
                for (let table of tables) {
                    if (event.target == table) {
                        table.classList.toggle('hidden');
                    }
                }
            };
        </script>




    </body>

</html>