<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice - Save71</title>
  <link rel="shortcut icon" type="x-icon" href="/images/site-icon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/output.css">
  <link rel="icon" sizes="325x325" href="https://admin.save71.com/images/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body class="font-sans">
  <div class="flex  items-center  w-full h-screen flex-col">
    <div class="mt-10 pb-12">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="150.000000pt" height="50.000000pt" viewBox="0 0 845.000000 201.000000" preserveAspectRatio="xMidYMid meet" style="padding-top: 2rem; margin-bottom: 2rem;">

        <g transform="translate(0.000000,201.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M2180 1870 c-67 -14 -144 -56 -183 -99 -28 -31 -46 -71 -85 -193 -94
                  -286 -402 -1357 -402 -1396 0 -9 49 -12 173 -12 l172 0 29 98 c15 53 39 133
                  52 177 13 44 87 296 164 560 77 264 144 483 149 488 5 5 19 7 32 5 22 -3 36
                  -45 216 -643 105 -352 194 -650 198 -663 5 -22 7 -22 175 -22 139 0 170 3 170
                  14 0 8 -9 42 -19 77 -11 35 -50 172 -86 304 -182 659 -301 1056 -342 1142 -30
                  64 -88 116 -161 143 -63 24 -186 33 -252 20z" />
          <path d="M469 1856 c-136 -37 -238 -155 -284 -331 -22 -80 -22 -260 0 -340 40
                  -152 132 -273 242 -316 55 -22 75 -23 360 -29 297 -5 302 -5 326 -28 61 -58
                  60 -191 -3 -254 l-28 -28 -421 0 -421 0 0 -180 0 -181 478 3 477 3 63 34 c110
                  60 185 169 218 318 20 91 15 289 -10 366 -41 126 -123 235 -213 278 -60 29
                  -173 38 -460 38 -239 0 -249 2 -277 72 -22 55 -20 107 7 159 40 81 34 80 495
                  80 l402 0 0 175 0 175 -452 -1 c-326 0 -466 -4 -499 -13z" />
          <path d="M4843 1855 c-104 -32 -173 -95 -232 -212 -43 -86 -61 -170 -61 -288
                  0 -114 18 -202 56 -277 26 -50 26 -52 9 -87 -45 -93 -57 -146 -62 -271 -4 -95
                  -1 -142 11 -194 36 -150 124 -273 233 -324 l58 -27 473 -3 472 -3 0 181 0 180
                  -412 0 c-308 0 -419 3 -437 13 -38 19 -63 62 -69 116 -6 69 4 115 34 151 l26
                  30 429 0 429 0 0 185 0 184 -421 0 c-465 0 -451 -1 -483 64 -33 70 -16 167 39
                  217 l27 25 419 3 419 3 0 174 0 175 -457 -1 c-349 0 -468 -3 -500 -14z" />
          <path d="M6510 1868 c0 -2 -7 -59 -15 -128 -8 -69 -15 -133 -15 -142 0 -17 22
                  -18 325 -18 179 0 325 -2 325 -5 0 -3 -51 -63 -113 -133 -137 -155 -226 -281
                  -306 -433 -58 -109 -124 -259 -116 -259 2 0 48 29 102 64 54 35 142 87 195
                  116 l98 52 38 81 c99 210 223 369 420 538 27 23 42 45 42 60 1 13 7 66 14 117
                  l13 92 -504 0 c-276 0 -503 -1 -503 -2z" />
          <path d="M3000 1851 c0 -9 158 -580 256 -926 80 -283 159 -538 189 -608 24
                  -59 79 -111 147 -143 56 -25 75 -28 163 -29 132 0 198 21 270 87 53 48 54 50
                  109 220 56 171 262 883 354 1226 l49 182 -175 -2 -175 -3 -193 -664 c-106
                  -365 -199 -668 -206 -672 -19 -12 -34 -11 -46 4 -5 6 -91 287 -191 622 -99
                  336 -187 634 -196 663 l-16 52 -169 0 c-97 0 -170 -4 -170 -9z" />
          <path d="M7861 1806 c-36 -87 -145 -173 -244 -191 -21 -4 -41 -15 -46 -24 -12
                  -22 -35 -240 -27 -249 6 -6 68 -10 185 -12 9 0 12 -9 7 -32 -3 -18 -8 -55 -12
                  -83 l-6 -50 146 0 c139 0 147 1 151 20 8 36 95 640 95 658 0 15 -12 17 -113
                  17 l-113 0 -23 -54z" />
          <path d="M7907 1073 c18 -2 50 -2 70 0 21 2 7 4 -32 4 -38 0 -55 -2 -38 -4z" />
          <path d="M7605 1044 c-231 -52 -482 -150 -671 -265 -196 -118 -510 -390 -648
                  -561 l-38 -48 118 0 119 1 75 100 c154 206 314 357 542 509 225 149 413 226
                  658 270 l105 18 -75 0 c-43 0 -122 -10 -185 -24z" />
          <path d="M7917 1019 c-92 -12 -209 -37 -218 -46 -11 -12 -78 -517 -70 -526 4
                  -4 70 -6 147 -5 l139 3 42 260 c42 264 49 326 36 324 -5 -1 -39 -5 -76 -10z" />
        </g>
      </svg>
    </div>
    <p class="text-green-500 font-bold text-2xl ">Transaction Successful</p>
    <div class="px-3 py-2 flex justify-center items-center flex-col shadow-sm shadow-tertiaryColor" style="width: 50%; margin-top: 0.5rem; padding:1rem">
      <table class="table-auto text-xs md:text-sm profile-table w-[200%] md:w-full shadow">
        <thead>
          <tr>
            <td>From Account</td>
            <td class="text-center">Save 71</td>
          </tr>
          <tr>
            <td>Amount</td>
            <td class="text-center"><%= (withdrawDetails.amount * currRate).toFixed(10)  %> <b>(<%= currCode %>)</b></td>
          </tr>
          <tr>
            <td>Bank Name</td>
            <td class="text-center"><%= withdrawDetails.bank_name  %></td>
          </tr>
          <tr>
            <td>Account Name</td>
            <td class="text-center"><%= withdrawDetails.account_name  %></td>
          </tr>
          <tr>
            <td>Branch Name</td>
            <td class="text-center"><%= withdrawDetails.branch_name  %></td>
          </tr>
          <tr>
            <td>Account Number</td>
            <td class="text-center"><%= withdrawDetails.account_number %></td>
          </tr>
          <tr>
            <td>Routing Number</td>
            <td class="text-center"><%= withdrawDetails.routing_number %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

</body>

</html>