<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save 71 - <%= site_info.title %></title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/output.css">
    <link rel="icon" sizes="325x325" href="https://admin.saveneed.com/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>

  <body class="font-sans">
    <section class=" max-w-[1920px] ml-auto mr-auto">

      <!-- Navigation Menu -->
      <%- include('header') %>




      <!-- Right Side Section -->
      <div class="ml-auto w-full xl:w-5/6 px-0 xl:px-1 py-2 mt-16 xl:mt-0">


        <!-- Project Overview Header -->

        <div class="flex items-center justify-between px-5 py-2 xl:py-5 gap-4 border-b">
          <!-- Search Box -->
          <div class="bg-white relative">
            <input class="py-2 pr-3 pl-6 focus:outline-none max-w-[180px]" type="text" placeholder="Search...">
            <i class="fa-solid fa-magnifying-glass absolute top-1/2 left-0 -translate-y-1/2 text-tColor"></i>
          </div>

          <!-- Notification & User -->
          <%- include('profileBar') %>


        </div>

        <div class="mx-5 rounded-md">

          <!-- Product Upload Section -->
          <form id="productForm" action="<%= site_info.post_link %>" method="POST">
            <div class="grid grid-cols-1 xl:grid-cols-4 relative">

              <!-- Product Left Section -->
              <div class="col-span-3 xl:border-r xl:pr-5">

                <p class="font-semibold text-lg text-tColor2 pt-5"><%= site_info.title %></p>

                <div class="pb-10">
                  <p for="productDescription" class="text-tColor3 mb-2">Details</p>
                  <%- include('richText', {des : site_info.description}); %>
                </div>

                <div
                  class="flex justify-center xl:justify-between items-center flex-wrap gap-5 border rounded p-5 mb-5">
                  <button type="submit" class="bg-primaryColor text-white rounded px-4 py-2">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </section>

    <!-- Header Section Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // Menu toggle button
      const toggleButton = document.getElementById("toggle-button");
      const toggleMenu = document.getElementById("toggle-menu");
      var toggleCounter = 1;
      toggleButton.onclick = function () {
        toggleCounter++;
        if (toggleCounter % 2 == 0) {
          toggleMenu.classList.remove("hidden");
          toggleMenu.classList.add("grid");
        } else {
          toggleMenu.classList.remove("grid");
          toggleMenu.classList.add("hidden");
        }
      }
    </script>

  </body>

</html>